@media screen and (max-width:1200px){
  #desktop-nav{
    display: none;
  }

  #hamburger-nav{
    display: flex;
  }
}

@media(min-width: 1024px){
    section { margin: 0 10rem; }
}


@media(min-width: 768px){
    .title { font-size: 2.5rem; }
    .section__text__p2 { font-size: 1.5rem; }
}
@media(min-width: 1024px){
    .title { font-size: 3rem; }
    .section__text__p2 { font-size: 1.75rem; }
}



@media (min-width: 768px) {
    section {
        margin: 0 10rem;
    }
    .section__pic-container {
        height: 400px;
        width: 400px;
    }
    .about-containers, .about-details-container, .article-container {
        flex-direction: row;
        gap: 2rem;
    }
}


@media (min-width: 768px) {
    .title { font-size: 3rem; }
    .section__text__p2 { font-size: 1.75rem; }
}

/* @media(min-width: 300px){
    
    .section__pic-container{
      display: flex;
      height: 100px;
      width: 100px;
      margin: auto 0;
      }
} */
